 body{
     overflow-x: hidden;
 }
 .navbar{
     box-shadow: none;
 }
 .custom-select {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8e9094;
    vertical-align: middle;
    background: #f5f8f8;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
 #content {
     margin-top: 30px;
 }
 .form-custom {
     margin-top: 60px;
 }
 .row{
     margin-bottom: 10px;
 }